 <!DOCTYPE html>
 <html lang="hu">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/style.css">
 </head>
 <body>
    <div class="login-page">
      <div class="form">
        
          <form  action="{% url 'login_page' %}" method="POST" name="login" class="login-form"> 
        
            {% csrf_token %}
            
            <input type="text" placeholder="Felhasználónév" name="username"/>
            <input type="password" placeholder="Jelszó" name="password"/>
            <button name="gomb_login">Bejelentkezek</button>
            <p class="message">Még nem regisztráltál? <a href="{% url 'register_page' %}" id>Fiók létrehozása</a></p> 
             <p> {{erorr_message}}</p> 
               
          </form>
      </div>
        
    </div>


  
 </body>
 </html>