<!DOCTYPE html>
 <html lang="hu">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registráció</title>
        <link rel="stylesheet" href="/static/style.css">
 </head>
 <body>
    <div class="login-page">
        <div class="form">
       
          <form  method="POST" name="reg" class="login-form">
            {% csrf_token %}
            <input type="text" placeholder="Felhasználónév" name="username"/>
            <input type="password" placeholder="Jelszó" name="password"/>
            <input type="password" placeholder="Jelszó ismét" name="password2"/>
             <button name="gomb_fiok">Fiók létrehozása</button>
            <p class="message">Már van fiókod? <a href="{% url 'login_page' %}">Jelentkezz be</a></p>
            <p>{{erorr_message}}</p> 
          </form>

          
               
          
        </div>
      </div>


     
 </body>
 </html>